
.body_background{
  
    background-image:url("https://cdn.vox-cdn.com/thumbor/y_zQVlSf3T9JXNsdTVZ-V1lDZCc=/0x227:1688x1688/1200x675/filters:focal(731x663:1001x933)/cdn.vox-cdn.com/uploads/chorus_image/image/60222205/InfinityWar5aabd55fed5fa.0.jpg");
    background-position: center;
    background-size: cover;

}
h2{
    background-color:rgb(39, 161, 236);
    color: white;
    border-radius: 5%;
    width: 300px;
	padding: 5px;
    height: 50px;
}

#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

#text{
background-color: #d9534f;
width: 300px;
border-radius: 10%;
margin-bottom: 10px;
display: inline-block;
font-size: large;
height: 100px;
}